@using Microsoft.AspNet.Identity
@Styles.Render("~/Content/css")
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" href="~/Manage">Hello</a>
            </li>
            
            <li class="nav-item" >
                <a class="nav-link btn-outline-warning" href="~/Carts/">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                         width="30" height="30"
                         viewBox="0 0 172 172"
                         style=" fill:#000000;">
                    <g  fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M29.24,25.8c-1.88947,0 -3.44,1.55053 -3.44,3.44v1.72c0,1.88947 1.55053,3.44 3.44,3.44h8.19352l0.79281,0.39641c3.59136,1.79568 6.03986,5.24468 6.55414,9.2282l1.6461,12.73539h0.01344c-0.0003,0.07412 0.00419,0.14818 0.01344,0.22172l6.88,53.32c0.11687,0.89956 0.91221,1.55377 1.81742,1.49492l1.25305,-0.08062c-2.98106,2.84847 -4.80391,6.84391 -4.80391,11.18672v2.65727c0.00009,0.94989 0.77011,1.71991 1.72,1.72h12.04v2.49937c-3.02346,1.32971 -5.16,4.30994 -5.16,7.82063c0,4.7391 3.8609,8.6 8.6,8.6c4.7391,0 8.6,-3.8609 8.6,-8.6c0,-1.69475 -0.52608,-3.25433 -1.37063,-4.57883c0.73366,-1.53399 1.22161,-3.42854 1.32359,-5.74117h36.16703v2.49937c-3.02346,1.32971 -5.16,4.30994 -5.16,7.82063c0,4.7391 3.8609,8.6 8.6,8.6c4.7391,0 8.6,-3.8609 8.6,-8.6c0,-1.69475 -0.52608,-3.25433 -1.37063,-4.57883c0.73366,-1.53399 1.22161,-3.42854 1.32359,-5.74117h3.48703c0.62029,0.00877 1.19726,-0.31713 1.50997,-0.8529c0.31271,-0.53578 0.31271,-1.19842 0,-1.7342c-0.31271,-0.53578 -0.88967,-0.86167 -1.50997,-0.8529h-73.96v-0.93727c0,-5.57453 3.80573,-10.39725 9.21812,-11.7007l70.01273,-4.56539c0.76886,-0.04927 1.41119,-0.60376 1.57219,-1.35719l10.32,-48.16c0.10849,-0.50796 -0.01836,-1.03774 -0.34514,-1.44149c-0.32678,-0.40374 -0.81849,-0.63821 -1.33791,-0.63797h-70.52v-11.02547c0,-8.21626 -6.46265,-15.02732 -14.66703,-15.45985l-19.64227,-1.03133c-0.0302,-0.00192 -0.06044,-0.00304 -0.0907,-0.00336v-0.86c-0.00005,-0.47495 -0.38505,-0.85995 -0.86,-0.86zM29.24,27.52h8.6v1.58563c-0.00773,0.0939 -0.00773,0.18828 0,0.28219v3.29219h-8.6c-0.95885,0 -1.72,-0.76115 -1.72,-1.72v-1.72c0,-0.95885 0.76115,-1.72 1.72,-1.72zM39.56,30.96l19.55156,1.03133c6.41224,0.33804 11.40844,5.60227 11.40844,12.0232v11.02547h-20.84828l-1.47813,-11.45547c-0.66048,-5.12044 -3.81383,-9.55707 -8.43203,-11.86531l-0.20156,-0.10078zM50.11852,58.48h21.83258c0.18575,0.0307 0.37527,0.0307 0.56102,0h69.83805l-9.60109,44.80734l-76.21078,4.97187zM96.29313,68.77648c-0.94861,0.01483 -1.70612,0.79488 -1.69313,1.74352v10.32h-10.32c-0.62029,-0.00877 -1.19726,0.31713 -1.50997,0.8529c-0.31271,0.53578 -0.31271,1.19842 0,1.7342c0.31271,0.53578 0.88967,0.86167 1.50997,0.8529h10.32v10.32c-0.00877,0.62029 0.31713,1.19726 0.8529,1.50997c0.53578,0.31271 1.19842,0.31271 1.7342,0c0.53578,-0.31271 0.86167,-0.88967 0.8529,-1.50997v-10.32h10.32c0.62029,0.00877 1.19726,-0.31713 1.50997,-0.8529c0.31271,-0.53578 0.31271,-1.19842 0,-1.7342c-0.31271,-0.53578 -0.88967,-0.86167 -1.50997,-0.8529h-10.32v-10.32c0.00637,-0.46492 -0.17574,-0.91261 -0.50484,-1.24107c-0.32909,-0.32846 -0.77713,-0.50971 -1.24204,-0.50245zM67.08,127.28h8.55297c-0.09685,2.15157 -0.53194,3.83695 -1.1825,5.15664c-0.15026,0.14376 -0.24335,0.3371 -0.26203,0.54422c-0.88664,1.54386 -2.06407,2.54471 -3.2418,3.23172c-1.67656,0.978 -3.03367,1.19799 -3.86664,1.28328v-7.0043c0.02033,-0.10654 0.02033,-0.21596 0,-0.3225zM115.24,127.28h8.55297c-0.09685,2.15157 -0.53194,3.83695 -1.1825,5.15664c-0.15026,0.14376 -0.24335,0.3371 -0.26203,0.54422c-0.88664,1.54386 -2.06407,2.54471 -3.2418,3.23172c-1.67656,0.978 -3.03367,1.19799 -3.86664,1.28328v-7.0043c0.02033,-0.10654 0.02033,-0.21596 0,-0.3225zM65.36,131.69086v6.76914c0.00005,0.47495 0.38505,0.85995 0.86,0.86c0,0 2.79782,0.00808 5.59336,-1.62258c1.13831,-0.66401 2.26622,-1.63862 3.21492,-2.95961c0.40867,0.87268 0.65172,1.83406 0.65172,2.86219c0,3.8093 -3.0707,6.88 -6.88,6.88c-3.8093,0 -6.88,-3.0707 -6.88,-6.88c0,-2.54306 1.38955,-4.72421 3.44,-5.90914zM113.52,131.69086v6.76914c0.00005,0.47495 0.38505,0.85995 0.86,0.86c0,0 2.79782,0.00808 5.59336,-1.62258c1.13831,-0.66401 2.26622,-1.63862 3.21492,-2.95961c0.40867,0.87268 0.65172,1.83406 0.65172,2.86219c0,3.8093 -3.0707,6.88 -6.88,6.88c-3.8093,0 -6.88,-3.0707 -6.88,-6.88c0,-2.54306 1.38955,-4.72421 3.44,-5.90914z"></path></g></g></svg>
                </a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-link">
            <button class="btn btn-outline-warning">
            @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
            </button>
        </li>
        <li class="nav-link">
            <button class="btn btn-outline-warning">
                @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </button>
        </li>
    </ul>
}
